[MASTER]
extension-pkg-whitelist=PyQt6,PyQt5

[REPORTS]
output-format=colorized

[MESSAGES CONTROL]
disable=
  missing-function-docstring,
  missing-module-docstring,
  missing-class-docstring,
  redefined-outer-name,
  too-few-public-methods,
  too-many-locals,

[BASIC]
good-names =
  c,
  ID,
  mw,
